body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
#root {
  width: 100%;
  height: 100%;
}
.headerContainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 2px red;
  /* background-image: url("./my-images/brooke-cagle-cb4Dv50LN1Y-unsplash\ 1.jpg");
  background-size: 100% 100%; */
}
.leftOfHeader {
  height: 100%;
  width: 50%;
  background-color: red;
}
.rightOfHeader {
  height: 100%;
  width: 50%;
  background-color: aqua;
}
.iconLogo {
  height: 10%;
  width: 100%;
  border: 3px solid;
}
.servicesAndContacts {
  height: 10%;
  width: 100%;
  border: 3px solid;
}









/* body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding:  0;
  background-color: beige;
}
#root {
  width: 100%;
  height: 100%;
  
}
.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.card {
  display: flex;
  gap: 50px;
  background-color: white;
  width: 25%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.75);
  padding: 2.5%;
}
.card img {
  background-color: rgb(190, 190, 172);
  border-radius: 100px;
  width: 100px;
  height: 100px;
}
.userContainer input {
  width: 40%;
  padding: 1%;
  padding-left: 1.5%;
  border-radius: 50px;
  font-size: larger;
  outline: none;
  border: 1px solid;
}
.Description p {
  display: flex;
  align-items: center;
  gap: 5%;
}
.desc {
  font-weight: 100;
} */